<section >
    <owl-carousel-o [options]="mainOptions">
        <ng-template carouselSlide>
            <img src="/images/ms-1.avif" alt="realme products" class="w-full">
        </ng-template>   
        <ng-template carouselSlide>
            <img src="/images/ms-2.avif" alt="Emirates NBD photo" class="w-full">
        </ng-template>   
        <ng-template carouselSlide>
            <img src="/images/ms-3.avif" alt="Moblie asseccories" class="w-full">
        </ng-template>   
        <ng-template carouselSlide>
            <img src="/images/ms-4.avif" alt="sales" class="w-full">
        </ng-template>   
    </owl-carousel-o>
</section>
