<section class="p-10 bg-main">
    <div class="grid grid-cols-12 space-x-7 text-white mb-5">
        <div class="lg:col-span-3 md:col-span-6 col-span-12 ">
            <h1 class="text-4xl font-bold mb-5">FreshCart</h1>
            <p class="">Discover the freshest deals on clothes, laptops, TVs, and more. Shop sustainably with us!</p>
        </div>
        <div class="lg:col-span-3 md:col-span-6 col-span-12 mt-5 md:mt-0">
            <h3 class="text-lg font-semibold mb-2">Quick Links</h3>
            <ul class="space-y-2 text-sm ">
                <li><a href="#" >About Us</a></li>
                <li><a href="#" >Privacy Policy</a></li>
                <li><a href="#" >Terms of Service</a></li>
                <li><a href="#" >Contact Us</a></li>
            </ul>
        </div>
        <div class="lg:col-span-3 md:col-span-6 col-span-12 mt-5 lg:mt-0">
            <h3 class="text-lg font-semibold mb-2">Support</h3>
            <ul class="space-y-2 text-sm ">
                <li><a href="#" >Help Center</a></li>
                <li><a href="#" >Shipping Info</a></li>
                <li><a href="#" >Returns</a></li>
                <li><a href="#" >FAQ</a></li>
            </ul>
        </div>
        <div class="lg:col-span-3 md:col-span-6 col-span-12 mt-5 lg:mt-0">
            <h1 class="text-lg font-semibold mb-5">Stay fresh</h1>
            <p class="mb-3">Subscribe to our newsletter for the latest updates and offers.</p>
            <div class="flex space-x-2">
                <input type="text" class="focus:text-main text-main bg-white px-3 py-2 rounded-2xl placeholder-main outline-main/85" placeholder="Enter your email">
                <button type="submit" class="py-2 px-3 rounded-2xl  text-main cursor-pointer bg-black">
                Subscribe
                </button>
            </div>
            <div class="mt-4 flex space-x-4">
                <a  class="text-main hover:text-white transition duration-300 bg-black rounded-2xl p-1 cursor-pointer">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a  class="text-main hover:text-white transition duration-300 bg-black rounded-2xl p-1 cursor-pointer">
                    <i class="fab fa-twitter"></i>
                </a>
                <a class="text-main hover:text-white transition duration-300 bg-black rounded-2xl p-1 cursor-pointer">
                    <i class="fab fa-instagram"></i>
                </a>
        </div>
        </div>
    </div>
    <div class="border-t-[2px] border-light">
        <p class="text-center py-3 text-white">&copy; {{ currentYear }} FreshCart. All rights reserved.</p>
    </div>
</section>
