<section class="p-10">
    <h1 class="text-main text-5xl font-bold"><span class="text-black">All</span> Categories :</h1>
    <div class="flex justify-center my-6 ">
    <input [(ngModel)]="text" type="text" class="bg-gray-100 focus:text-main border-2 border-main px-2 py-2.5 rounded-2xl md:w-1/2
    w-full outline-main/70 mt-2 placeholder-main" placeholder="Search about category ..." />
    </div>
    <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4  gap-5 mt-10">
    @for (item of categoriesList |search:text ; track item._id){
        <div class="rounded-2xl p-5 border border-main mr-2">
            <img [src]="item.image" [alt]="item.name" class="w-full h-[250px]">
            <h1 class="text-main text-3xl font-semibold text-center my-4">{{item.name | uppercase}}</h1>
        </div>
    }
  </div>
</section>
