
<div class="relative">
  <input type="text" class="bg-gray-100 border-2 border-main px-2 py-2.5 rounded-2xl 
    w-full outline-main/70 mt-2 text-main" readonly [value]="selectedCategory === 'All' ? 'Category' : selectedCategory" />
  @if(isOpen){
    <span><i class="fa-solid fa-chevron-down text-main hover:text-main/70 absolute top-4.5 right-2  translate-y-1/2 cursor-pointer" 
    (click)="toggleDropdown()"></i></span>
  }
  @else {
  <span><i class="fa-solid fa-chevron-right text-main hover:text-main/70 absolute top-4.5 right-2 translate-y-1/2 cursor-pointer" 
    (click)="toggleDropdown()"></i></span>
  }

  <!-- dropdown -->
  @if (isOpen) {
    <ul class="absolute left-0 right-0 mt-1 border border-main rounded-2xl z-50 p-2 bg-amber-100">
      <li (click)="selectCategory('All')" class="hover:text-white border-b border-main hover:bg-main p-1 cursor-pointer transition-all duration-300 rounded">All</li>
      
      @for (item of categoriesList; track item._id) {
        @if($index===9){
          <li (click)="selectCategory(item.name)" class="line-clamp-1 border-b-0 hover:bg-main hover:text-white p-1 cursor-pointer transition-all duration-300 rounded"> {{ item.name }} </li>
        }
        @else {
          <li (click)="selectCategory(item.name)" class="line-clamp-1 border-b border-main hover:bg-main  hover:text-white p-1 cursor-pointer transition-all duration-300 rounded"> {{ item.name }} </li>
        }
      }
    </ul>
  }
  
</div>

